.inputText:focus,
.inputText:active {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
  outline: none;
}
.inputText {
   border-radius: 3px;
  text-align: center;
  border: 1px solid black;
  width: 100%;
  outline: none; 
}
.cellContainer {
  margin: auto;
}
.firstTitle {
  position: sticky;
  left: 0;
  z-index: 10;
}
.cellContent {
  position: relative;
  margin: auto;
  width: 80%;
}
.subtitle {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: sticky;
  left: 0;
  z-index: 9;
}
.subtitle > div {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.title,
.title > div {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}